@model KhumaloCraft.Models.Order

@{
    ViewData["Title"] = "Delete Order";
}

<h1 class="display-4 text-center mb-4">Delete</h1>
<hr />


<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="alert alert-danger text-center">
                Are you sure you want to delete this?
            </div>
            @if (Model != null)
            {
            <div class="list-group mb-4">
                <span class="list-group-item list-group-item-action">Client:  @(Model.User != null ? Model.User.UserName : "No User Found")</span>
                <span class="list-group-item list-group-item-action">Order Date: @Html.DisplayFor(model => model.OrderDate)</span>
                <span class="list-group-item list-group-item-action">Total: @Html.DisplayFor(model => model.Total) </span>

            </div>
            }
            <form asp-action="Delete">
                <input type="hidden" asp-for="OrderID" />
                <input type="submit" value="Delete" class="btn btn-danger" />
                <a asp-action="Index" class="btn btn-warning float-end">
                    <svg style="vertical-align: text-bottom" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                    </svg> Cancel
                </a>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>

