@model KhumaloCraft.Models.Product

@{
    ViewData["Title"] = "Edit Product";
}

<h4 class="display-4 mb-4 text-center">Edit Product</h4>
<hr />

<div class="container">
    <div class="row mb-4">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form asp-action="Edit" enctype="multipart/form-data" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ProductID" />
                <div class="form-group mb-2">
                    <label asp-for="ProdName" class="control-label">Name</label>
                    <input asp-for="ProdName" class="form-control" />
                    <span asp-validation-for="ProdName" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" asp-format="{0:F2}" data-val="false" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="CatID" class="control-label">Category</label>
                    <select asp-for="CatID" class="form-control" asp-items="ViewBag.CatID"></select>
                    <span asp-validation-for="CatID" class="text-danger"></span>
                </div>
                <div class="form-group mb-2 text-center">
                    @if (Model.ImageUrl != null)
                    {
                        <p>Current Image</p>
                        <img src="@Model.ImageUrl" alt="Current Image" width="200" />
                    }
                </div>
                <div class="form-group mb-2">
                    <label asp-for="ImageFile" class="control-label">New Image</label>
                    <input asp-for="ImageFile" class="form-control mt-2 mb-2" type="file" />
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>

                <div class="form-group form-check mb-2">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="ProdAvailability" /> @Html.DisplayNameFor(model => model.ProdAvailability)
                    </label>
                </div>
                <div class="form-group mb-4">
                    <label asp-for="Stock" class="control-label"></label>
                    <input asp-for="Stock" class="form-control" />
                    <span asp-validation-for="Stock" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a class="btn btn-warning float-end" asp-action="Index">
                        <svg style="vertical-align: text-bottom" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                        </svg> Cancel
                    </a>
                </div>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>





<div>
   
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
