@{
    ViewData["Title"] = "About Us";
}

<div class="text-center">
    <h1 class="display-3">About us</h1>
</div>

<img src="~/img/james.jpg" class="rounded float-end" style="width: 30%" alt="james">
<p class="lead">
    James Khumalo, a visionary entrepreneur, set out to establish KhumaloCraft Emporium as a global
    e-commerce platform to showcase handcrafted products. His dream involves connecting artisans
    worldwide with a discerning audience. 
</p>
<p class="lead">
    James envisioned a platform accessible to a global audience, scalable to accommodate growth,
    and ensuring a secure and enjoyable shopping experience.
</p>
<p class="lead">
    James also wanted to include advanced services and functionalities to enhance user
    experience such as search capabilities, notifications, serverless services,
    and automation.
</p>
<p class="lead">
    The entire goal of KhumaloCraft is to have a web application which is accessible, stores the
    artisans' craftwork, and allows customers globally to access and order their craftwork.
</p>