@{
    ViewData["Title"] = "Privacy Policy";
}


<p class="display-5 text-center">Privacy Policy</p>
<p class="lead">At Totally Legit (we know, the name says it all), we take your privacy very seriously. Except when we don't.  This policy outlines how we MIGHT use your stuff, but like, we reserve the right to change it whenever we feel like it.</p>

<p class="display-6">Information We Like (Maybe)</p>
<p class="lead">We collect all sorts of fun facts about you!  Names, addresses, browsing habits, favorite pizza toppings - you name it (assuming we can remember it). We might gather this info directly from you, or through super sneaky spy tactics (don't worry, they're adorable spies).</p>

<p class="display-6">How We Use Your Stuff (Probably)</p>
<p class="lead">We use your information to, well, do stuff.  This could include making the website slightly more interesting, sending you emails about things you never asked for, or selling your data to friendly aliens (they just want to pen pals!).</p>

<p class="display-6">Sharing is Caring (Except With Lawyers)</p>
<p class="lead">We might share your information with legal authorities if they ask nicely (or with a warrant), with third-party service providers who help us run things, or with anyone who offers us a free pizza (we take pepperoni).</p>

<p class="display-6">Your Choices (Maybe?)</p>
<p class="lead">Look, we can't guarantee you have any control over your information. You can try to opt-out or change things, but success is not guaranteed.  We may or may not listen to your requests based on the lunar cycle.</p>

<p class="display-6">Security</p>
<p>We keep your information safe with top-of-the-line security measures. Like a really strong padlock. Maybe.</p>

<p class="display-6">Links</p>
<p class="lead">Our website might link to other places.  Those places have their own privacy policies, which are probably way less fun to read than this one.</p>

<p class="display-6">Changes</p>
<p class="lead">We can change this policy whenever we want.  We'll probably  mention it on the website somewhere, but you might miss it.</p>

<p class="display-6">Contact Us</p>
<p class="lead">If you have any questions about this totally legitimate privacy policy, you can try contacting us. We might, or might not, respond depending on the cuteness level of your inquiry.</p>

<p class="lead">Disclaimer: This is a fake privacy policy and should not be used on a real website. It offers no legal protection and may confuse or mislead users.</p>