html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.resize {
    width: 100%;
}

.card-img-top {
    width: 100%;
    height: auto;
    margin: 0 auto;
    max-height: 220px;
}

.card {
    margin-bottom: 20px;
}

.category {
    font-weight: bold;
    font-size: 0.7rem;
}

.category {
    font-weight: bold;
    font-size: 0.9rem;
}

.available {
    font-size: 0.7em;
    background-color: #209cee;
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 20%;
    text-align: center;
}

.posted {
    font-size: 0.7em;
    background-color: #209cee;
    color: white;
    padding: 5px;
    border-radius: 3px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.price {
    font-weight: 600;
    font-size: 1.2rem;
}

.stock {
    font-size: 0.7em;
    color: white;
    background: black;
    width: 20%;
    text-align: center;
    padding: 3px;
    border-radius: 5px
}